	<p>Hello, {{user.username}}. View your <a href="/profile">profile</a>.</p>

	<p>Welcome! Please <a href="/login">log in</a>.</p>

<form action="/login" method="post">
	<div>
	<label>Username:</label>
	<input type="text" name="username"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>
