
aside#theSpoils.wrapper
    #navbar.pbWrapper
        .navIcons
            a(href="/profile")
                button(
                    id="goProfile"
                )
                    i.fas.fa-user-circle
                    p Profile
        .navIcons
            a(href="/logout")      
                button(
                    id="logOutButton"
                )         
                    i.far.fa-share-square
                    p Log Out
    #hot
        .asideHeader.fire
            i.fas.fa-fire-alt.fire 
            h3.fire Whats Hot!
                ol
                    li
                        a(href="/thespoils/tt4154796") Avengers: Endgame    
                    li
                        a(href="/thespoils/tt01203382") Titanic   
                    li
                        a(href="/thespoils/tt0106140") Sonic The Hedge Hog 
    #userSpoilsBar
        .asideHeader.mySpoils
            i.far.fa-comments
            h3.mySpoils Soon To Spoil!
                ol
                    li
                        a(href="/thespoils/tt2527338") Star Wars: The Rise of Skywalker    
                    li
                        a(href="/thespoils/tt6673612") DoLittle   
                    li
                        a(href="/thespoils/tt3794354") Sonic The Hedge Hog    
    #recommends
        .asideHeader.aside3
            i.far.fa-thumbs-up
            h3.aside3 Check Out These Movies!
                ol
                    li
                        a(href="/thespoils/tt7975244") Jumanji: The Next Level    
                    li
                        a(href="/thespoils/tt4520988") Frozen II   
                    li
                        a(href="/thespoils/tt8946378") Knives Out