footer
    #footerBar
        p &copy The Spoiled Developers 2019
        .developers
            p About the Spoiled Developers 
            a(href="linkedin.com/in/nick-cooper-860893125") Nick Cooper
            a(href="https://www.linkedin.com/in/jaimee-razee/") Jaimee Razee
            a(href="https://mattroger.github.io/") Matt Roger