footer
    #footerBar
        p &copy The Spoiled Developers 2019
        .developers
            p About the Spoiled Developers 
            a(href="Nick Cooper") Nick Cooper
            a(href="Jamie Razee") Jamie Razee
            a(href="Matt Roger") Matt Roger