header
        h1 Spoiler Alert!
        p Discuss amongst yourselves
        form
                input(
                        type="text"
                        name="movieSearch"
                        placeholder="search movies"
                )
                button#movieSearch Search!
