header
        h1 Spoiler Alert!
        p Discuss amongst yourselves
        form(action="/searchresults", method="POST")
                input(
                        type="text"
                        name="movieSearch"
                        placeholder="search movies"
                )
                button#movieSearch.sbtn
                        i.fas.fa-search
