header
        h1 Spoiler Alert!
        p Discuss amongst yourselves
        form(action="/search", method="POST")
                input(
                        type="text"
                        name="movieSearch"
                        label="search movies"
                )
                button#movieSearch Search!
