
#userProfile 
    .userWrapper
        #nameBlock.wrapper             
            h2 #{username}            
        #userSpoils.wrapper
            h3.pbWrapper #{username} Spoils!          
            ul 
                - for (var i=spoiledMovies.length;i>spoiledMovies.length-6;i--)
                    li=spoiledMovies[i]