#searchArea
    #posts.wrapper
        h2 Search Results
        ul
            each movie in movies
                -const imdbID=movie.imdbID
                .searchResultsArea
                    a(href=`/thespoils/` + imdbID)
                        li=movie.Title
                        li=movie.Year