#searchArea
    #posts.wrapper
        h2.searchTitle Search Results
        .searchResultsWrapper
            each movie in movies
                -const imdbID=movie.imdbID
                a(href=`/thespoils/` + imdbID)
                    .searchResultsArea
                        .movieDetails                            
                            h3=movie.Title
                            p=movie.Year                           
                        .searchImg                            
                            img(src=movie.Poster)