-const movieTopic="John Wick"
-const authorName="I C Weiner"
-const talk="In the end of the movie John gets a new, bigger doggo!"

#discussion
    h2 #{movieTopic}    
    #discussionBlock
        //- discussion goes here
        #commentBlock
            #talk #{talk}
            #author #{authorName}
            button#reply reply
            button#update update
            button#delete delete
    