extends layout.pug

block content
    section#content
        #homePage
            a.welcome(id='login' href='/login') Log In
            img.logo(src="/assets/images/spoilers.png")
            a.welcome(id='createAccount' href='/register') Create Account