
<div id="userProfile">
  <div id="nameBlock">
    <h3>Whisky Wolf</h3><img src="../11_indianna_jones.png" alt="Profile image"/>
  </div>
  <div id="top10">
    <p>My Top 10 Movies</p>
    <ol>
      <li>Die Hard</li>
      <li>Zootopia</li>
      <li>Mad Max</li>
      <li>Total Recall</li>
      <li>John Wick</li>
    </ol>
  </div>
  <div id="bottom10">
    <p>My Least Favorite Movies!</p>
    <ol>
      <li>Doom</li>
      <li>The Gray</li>
      <li>A Man with a Camera</li>
      <li>Daybreak</li>
      <li>Spaceballs</li>
    </ol>
  </div>
</div>
<aside id="theSpoils">
  <div id="hot">
    <p>Whats Hot!</p>
    <ol> 
      <li>Zombieland 2</li>
      <li>EndGame</li>
      <li>Spiderman: Far from home.</li>
    </ol>
  </div>
  <div id="recentToUser">
    <p>Your Spoils!
      <ol>
        <li>John Wick: Chapter 3 Parabellum</li>
        <li>Adams Family</li>
        <li>Joker</li>
      </ol>
    </p>
  </div>
  <div id="recommends">
    <p>Check Out These Movies!</p>
    <ol>
      <li>Zombieland 2</li>
      <li>Gemini Man</li>
      <li>Rambo: Last Blood</li>
    </ol>
  </div>
</aside>