
<div id="discussion">
  <h2>John Wick    </h2>
  <div id="discussionBlock">
    <div id="commentBlock">
      <div id="talk">In the end of the movie John gets a new, bigger doggo! And that Dog does not die! It is still alive at the end of John Wick 3!</div>
      <div id="talkBar">
        <div id="talkWrapper">
          <div id="authorBar"><img src="/includes/11_indianna_jones.png" alt="Profile image"/>
            <div id="author">Whisky Wolf</div>
          </div>
          <div id="replyBar">   
            <button id="reply">reply</button>
            <button id="update">update</button>
            <button id="delete">delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper" id="movieInfo">
  <ul>
    <li>Title: John Wick</li>
    <li>Year: 2014</li>
    <li>Staring:
      <ul>
        <li>Keanue Reeves</li>
        <li>Ian McShane</li>
      </ul>
    </li>
  </ul>
</div>