<!DOCTYPE html>
<html>
  <head>
    <title>Spoiler Alert!!</title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Coda+Caption:800|Overpass+Mono:400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/profile.css">
    <link rel="stylesheet" href="assets/css/thespoils.css">
  </head>
  <body>
    <header>
      <h1>Spoiler Alert!</h1>
      <p>Discuss amongst yourselves</p>
      <form>
        <input type="text" name="movieSearch" label="search movies">
        <button id="movieSearch">Search!</button>
      </form>
    </header>
    <section id="content">
      <div id="discussion">
        <h2>John Wick    </h2>
        <div id="discussionBlock">
          <div id="commentBlock">
            <div id="talk">In the end of the movie John gets a new, bigger doggo!</div>
            <div id="author">I C Weiner</div>
            <button id="reply">reply</button>
            <button id="update">update</button>
            <button id="delete">delete</button>
          </div>
        </div>
      </div>
    </section>
  </body>
  <footer>
    <p>About the Spoiled Developers</p>
    <p>&copy The Spoiled Developers 2019</p>
  </footer>
</html>