<!DOCTYPE html>
<html>
  <head>
    <title>Spoiler Alert!!</title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Coda+Caption:800|Overpass+Mono:400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/profile.css">
    <link rel="stylesheet" href="assets/css/thespoils.css">
  </head>
  <body>
    <header>
      <h1>Spoiler Alert!</h1>
      <p>Discuss amongst yourselves</p>
      <form>
        <input type="text" name="movieSearch" label="search movies">
        <button id="movieSearch">Search!</button>
      </form>
    </header>
  </body>
  <footer>
    <p>About the Spoiled Developers</p>
    <p>&copy The Spoiled Developers 2019</p>
  </footer>
</html>