<!DOCTYPE html>
<html>
  <head>
    <title>Spoiler Alert!!</title>
    <link rel="stylesheet" href="../../client/public/assets/css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Coda+Caption:800|Overpass+Mono:400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../client/public/assets/css/style.css">
    <link rel="stylesheet" href="../../client/public/assets/css/profile.css">
    <link rel="stylesheet" href="../../client/public/assets/css/thespoils.css">
    <link rel="stylesheet" href="../../client/public/assets/css/newUser.css">
  </head>
  <body>
    <header>
      <h1>Spoiler Alert!</h1>
      <p>Discuss amongst yourselves</p>
      <form>
        <input type="text" name="movieSearch" placeholder="search movies">
        <button id="movieSearch">Search!</button>
      </form>
    </header>
    <section id="content">
      <div id="welcome">
        <h2>Welcome To Spoiler Alert!</h2>
        <p>A place to talk about your favorite movies without fear of spoiling it for your friends!</p>
      </div>
      <div id="agreement">
        <p>By creating an account you agree to our terms and conditions</p>
      </div>
      <div id="inputForm">
        <form id="newUser">
          <label>Create a User Name!</label>
          <input type="text" name="userName" placeholder="Create A User Name">
          <label>Please enter your email</label>
          <input type="email" name="email" placeholder="Your email">
          <label>Make a Password</label>
          <input type="password" placeholder="Password" name="password">
          <label>Confirm Password</label>
          <input type="password" name="passwordConfirm" placeholder="Confirm Password">
          <button id="createNewUser">Join!    </button>
        </form>
      </div>
    </section>
  </body>
  <footer>
    <p>About the Spoiled Developers</p>
    <p>&copy The Spoiled Developers 2019</p>
  </footer>
</html>