<!DOCTYPE html>
<html>
  <head>
    <title>Spoiler Alert!!</title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Coda+Caption:800|Overpass+Mono:400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/profile.css">
    <link rel="stylesheet" href="assets/css/thespoils.css">
    <link rel="stylesheet" href="assets/css/newUser.css">
  </head>
  <body>
    <header>
      <h1>Spoiler Alert!</h1>
      <p>Discuss amongst yourselves</p>
      <form>
        <input type="text" name="movieSearch" placeholder="search movies">
        <button id="movieSearch">Search!</button>
      </form>
    </header>
    <section id="content">
      <div class="halfWrapper">
        <div id="userProfile">
          <div class="contentWrapper">
            <div id="userWrapper">
              <div id="nameBlock"><img src="/11_indianna_jones.png" alt="Profile image">
                <h2>Whisky Wolf</h2>
              </div>
              <div id="top10">
                <h3>My Top 10 Movies</h3>
                <ol>
                  <li>Die Hard</li>
                  <li>Zootopia</li>
                  <li>Mad Max</li>
                  <li>Total Recall</li>
                  <li>John Wick</li>
                </ol>
              </div>
              <div id="bottom10">
                <h3>My Least Favorite Movies!</h3>
                <ol>
                  <li>Doom</li>
                  <li>The Gray</li>
                  <li>A Man with a Camera</li>
                  <li>Daybreak</li>
                  <li>Spaceballs</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <aside id="theSpoils">
          <div id="hot">
            <h3>Whats Hot!</h3>
            <ol> 
              <li>Zombieland 2</li>
              <li>EndGame</li>
              <li>Spiderman: Far from home.</li>
            </ol>
          </div>
          <div id="recentToUser">
            <h3>Your Spoils!</h3>
            <ol>
              <li>John Wick: Chapter 3 Parabellum</li>
              <li>Adams Family</li>
              <li>Joker</li>
            </ol>
          </div>
          <div id="recommends">
            <h3>Check Out These Movies!</h3>
            <ol>
              <li>Zombieland 2</li>
              <li>Gemini Man</li>
              <li>Rambo: Last Blood</li>
            </ol>
          </div>
        </aside>
      </div>
    </section>
  </body>
  <footer>
    <p>About the Spoiled Developers</p>
    <p>&copy The Spoiled Developers 2019</p>
  </footer>
</html>