<!DOCTYPE html>
<html>
  <head>
    <title>Spoiler Alert!!</title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Coda+Caption:800|Overpass+Mono:400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/profile.css">
    <link rel="stylesheet" href="assets/css/thespoils.css">
    <link rel="stylesheet" href="assets/css/newUser.css">
  </head>
  <body>
    <header>
      <h1>Spoiler Alert!</h1>
      <p>Discuss amongst yourselves</p>
      <form>
        <input type="text" name="movieSearch" placeholder="search movies">
        <button id="movieSearch">Search!</button>
      </form>
    </header>
    <section id="content">
      <div id="spoilsWrapper">
        <div id="discussion">
          <h2>John Wick    </h2>
          <div id="discussionBlock">
            <div id="commentBlock">
              <div id="talk">In the end of the movie John gets a new, bigger doggo! And that Dog does not die! It is still alive at the end of John Wick 3!</div>
              <div id="talkBar">
                <div id="talkWrapper">
                  <div id="authorBar"><img src="/includes/11_indianna_jones.png" alt="Profile image">
                    <div id="author">Whisky Wolf</div>
                  </div>
                  <div id="replyBar">   
                    <button id="reply">reply</button>
                    <button id="update">update</button>
                    <button id="delete">delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper" id="movieInfo">
          <ul>
            <li>Title: John Wick</li>
            <li>Year: 2014</li>
            <li>Staring:
              <ul>
                <li>Keanue Reeves</li>
                <li>Ian McShane</li>
              </ul>
            </li>
          </ul>
        </div>
        <div id="aside">
          <aside id="theSpoils">
            <div id="hot">
              <h3>Whats Hot!</h3>
              <ol> 
                <li>Zombieland 2</li>
                <li>EndGame</li>
                <li>Spiderman: Far from home.</li>
              </ol>
            </div>
            <div id="recentToUser">
              <h3>Your Spoils!</h3>
              <ol>
                <li>John Wick: Chapter 3 Parabellum</li>
                <li>Adams Family</li>
                <li>Joker</li>
              </ol>
            </div>
            <div id="recommends">
              <h3>Check Out These Movies!</h3>
              <ol>
                <li>Zombieland 2</li>
                <li>Gemini Man</li>
                <li>Rambo: Last Blood</li>
              </ol>
            </div>
          </aside>
        </div>
      </div>
    </section>
  </body>
  <footer>
    <p>About the Spoiled Developers</p>
    <p>&copy The Spoiled Developers 2019</p>
  </footer>
</html>